

@keyframes fadeInAnimation {
    0% {

        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
::-webkit-scrollbar {
    width: 8px;
    border-radius: 20px;
   
  }
  
  
  
  
  ::-webkit-scrollbar-thumb {

    background-color: rgb(0, 125, 209);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }  

/*index html*/
.container2,
h1 {
    text-align: center;
}

.container2 {
    min-width: 40%;
    padding: 60px;
    cursor: pointer;
    border-radius: 16px;
    background-color: #101e29;
    scale: 1;
    transition: 0.7s;
}

.container2:hover {
    transition: 0.7s;
    box-shadow: 10px 10px 10px 0px rgb(0, 153, 255);
    transform: scale(1.07);
}


#alert {
    color: tomato;
    font-weight: 500;
}

.btn {
    color: white;
    width: 100px;
    margin-top: 10px;
    background-color: rgb(0, 153, 255);
}

.btn:hover {
    color: white;
    background-color: rgb(0, 125, 209);
}













/* home html*/
* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: white;
    display: table;
    width: 100%;

    background-color: #162938;
}



header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #101e29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;


}


header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
header h1{
    font-size: 2rem;
    }

    @media(max-width: 947px){
       .center-content #welcome{
           font-size: 4rem;
        }
    }


     @media(max-width: 463px){
        .center-content #welcome{
            font-size: 2.7rem;
         }
        
     }

     @media(max-width: 345px){
        .center-content #welcome{
            font-size: 2rem;
         }

       
     }
#check{
    display: none;
}
.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}

/* break points */
@media(max-width: 1300px){
    .header{
        padding: 1.3rem 5%;
    }
}


@media(max-width:1127px){
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{
       
        display: none;
    }

   
    .icons #close-icon{
        display: none;
    }
    
    #check:checked~.icons #close-icon{
        display: block;
    }
    .navigation{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background:#101e29;
        box-shadow: 0 .5rem 1 rgba(0, 0, 0, 0.3);
        overflow: hidden;
        transition: 0.3s ease;
    
    }

    #check:checked~.navigation{
        height: 17.7rem;
    }
    .navigation a{
        text-align: right;
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}


.profile-icon {
    width: 35px;
    height: 35px;
}

.navigation a {
    position: relative;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}




.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(0, 153, 255);
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}


.welcome-section {
    margin-top: 100px;
    background-color: #162938;
    padding: 15px;
    width: 100%;
    height: 90vh;
    color: white;
    display: grid;
    place-items: center;
}

.center-content {
    text-align: center;
}


.welcome-section h1 {
    font-size: 5.5em;
}

.welcome-section h2 {
    font-size: 1.5em;
    font-weight: 100;
}

.welcome-section a {
    cursor: pointer;

}


.welcome-section img {
    width: 45px;
    padding-left: 8px;
    transition: transform 0.3s;

}

.welcome-section img:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.footer {
    background-color: #101e29;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;

}







/* about html */


iframe {
    margin-top: 50px;
    width: 100%;
    border-radius: 20px;
}

/*service html*/

.container {
    margin-top: 100px;
    padding: 10px 20px 20px 20px;
   

}

.card-body {
    background-color: #101e29;
    border-radius: 10px;
}



.card {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 20px;
    border-radius: 20px;
    scale: (1);
    transition: 0.7s;
}

.card:hover {
    transition: 0.7s;
    transform: scale(1.1);
}

/* profile html */
.logout-btn{
    width: 150px;
    height: 45px;
    scale: (1);
    transition: 0.7s ease;
}
.logout-btn:hover{
    transition: 0.7s ease;
    background-color: rgb(0, 139, 232);
    box-shadow: 2px 2px 10px 0px rgb(0, 153, 255);
    transform: scale(1.1);
}
.carta-section {
    
    min-height: 80vh;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #162938;
    width: 100%;
    color: white;
    display: grid;
    place-items: center;
    overflow: hidden;


}

.carta {
    display: inline-block; margin-right: 10px;

    background-color: #101e29;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    width: 40%;
    scale: (1);
    overflow: hidden;
    transition: 0.6s;
}

@media (max-width:1200px){
    .carta{
        min-width: 80%;
    }
}


.carta:hover {
    transform: scale(1.1);
    transition: 0.6s;
    box-shadow: 10px 10px 10px 0px rgb(0, 153, 255);
}

.carta p {
    font-size: 1.05rem;
}

.carta h1 {
    font-size: 2rem;
}

.carta hr {

    background-color: rgb(255, 255, 255);
}







/*contact html */

.contact input {
    border: none;
    padding: 5px;
    min-width: 50%;
    height: 30px;
    border-radius: 10px;
}

.contact textarea {
    border: none;
    border-radius: 15px;
    width: 100%;
    resize: none;
}





/* games section */


.game1 {
    
    overflow: hidden;
    max-width:50%;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 0px;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
    background-color: #101e29;
    scale: (1);
    transition: 0.6s;
}

.game1:hover{
    transition: 0.6s;
    transform: scale(1.1);
    box-shadow: 10px 10px 10px 0px  rgb(0, 125, 209);
    
}

.game1-content{
    margin-top: 40px;
    text-align: center;
}
.game1 h1 {
    font-size: 3rem;
}

.btn-primary{
    border-radius: 10px;
}


/* Style for the input and button */
.game1 input[type="number"] {
    text-align: center;
    border: none;
    width: 130px;
    height: 35px;
    border-radius: 10px;
    font-size: 1.1rem;
    
}

/* Style for the message area */
#message {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 10px;
}

.game1 p{
    font-size:1.3rem;
}

